body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul.boardContainer {
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  display: inline-grid;
  padding: 0px;
}

li.field {
  display: inline-grid;
  border: 1px solid gray;
  font-size: xx-large;
  text-align: center;
}

div.result{
  text-align: center;
}
